.top
{
    height:100px;
    background-color: #9e1a1a;
    padding : 25px 0px 0px 150px;
}
.logo
{
    display: block;
    width:200px;
    float:left;
    font-size:30px;
    color: white;
    font-weight: bold;
}
ul
{
    list-style: none; 
    margin:0px;
    padding:0px;
}
.list
{
    margin-top:10px;
    display: block;
    float: left;
    margin-left: 20px;
}
.link
{
    color:white;
    font-size:20px;
    text-decoration:none;
}
